@font-face {
  font-family: "Unicorn";
  src: url("./public/fonts/unicorn-color.woff2") format("woff2");
  font-display: block;
}

:root {
    --override-color: green;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
}

h1 {
    font-family: "Unicorn";
    font-palette: --unicorn-custom;
    font-size: clamp(5rem, 17vw ,17rem);
    line-height: 1;
    font-weight: 900;
    text-align: center;
    line-height: 1;
    transition: font-palette 600ms ease-out;
    flex: 1;
    font-variation-settings: "horn" var(--horn-size, 200);
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  background-color: hsl(53, 20%, 87%);
  padding: 12px;
  box-sizing: border-box;
  border-right: 1px solid hsl(53, 20%, 27%);
}

#horn-size {
  position: fixed;
  top: 24px;
  left: 0px;
  transform: rotate(-90deg) translate(-50%, 0);
  transform-origin: bottom center;
  width: 200px;
  height: 10px;
  accent-color: #9b9a87;
}

.color-input {
  /* height: 64px; */
  width: calc(100vh / 28);
  aspect-ratio: 1 / 1;
  border-radius: 100vw;
  overflow: hidden;
  position: relative;
  border: 2px solid hsl(53, 20%, 27%);
}

input[type="color"] {
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
  position: absolute;
}